# Block folders that MCP generates 
bin/
jars/
logs/
reobf/
temp/
src/minecraft/net/minecraft/src
src/minecraft_server/net/minecraft/src
eclipse/.metadata

# Allow server.properties
!jars/server.properties

# Block StationLoader tests
tests/
